form {
  font-size: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.tel {
  text-decoration: none;
  color: orange;
}

.error {
  color: red;
  font-size: 10px;
}

.bold{
  font-size: 14px;
  font-weight: bold;
}

.italic{
  font-style: italic;
}

input.invalid, textarea.invalid, label.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}
